/*init styles Feasibility banner dev-macosta*/
.container__box{
    margin: 16px 0;
    padding: 15px;
    border-radius: 16px;
    background-color: #fff;
    border: 1px solid rgba(204,204,204,.5);   
}
.divleft__txt{
    color: #212529;
    font-family: Barlow, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 20px;
    text-align: center;
}
.divleft__img{
    width: 40px;
    height: 32px;
    margin-left: 10px; 
}
@media only screen and (max-width: 600px){
    .divleft__img{
        margin: 0;
    }
    .divleft__txt{
        margin: 0;
    }
}
.btnblue{
    color: #ffffff;
    max-width: 208px;
    font-family: Barlow, sans-serif;
    font-size: 14px;
    font-weight: 600;
    background: #002eff;
    margin: 0 135px;
    padding: 5px 0;
    height: 35px;
    border-radius: 20px; 
    border: solid 1px #002eff;
    width: 120%;
    display: block;
    margin: auto;  
}
.btnblue:hover{
    background: #ffffff;
    color: #002eff;
}
.btnplans{
    text-align: right;
}
/*end styles Feasibility banner dev-macosta*/

/* Css Styles top NavBAr @kofrann */
.navbar-nav{
    font-family: barlow, sans-serif;
    
}
.nav-link{
    font-size: 18px;
    font-weight: 500;
}

.navbar-nav .nav-item{
    color: var(--back-blue);
    }

:root{
    --back-white: #ffffff;
    --back-blue: #002eff;
}

.navbar .navbar-expand-sm {
    background-color: var(--back-white);
}

.logo-entel{
    width: 57px;
    height: 50px;
}
.navbar-toggler-icon{
    width: 2.5rem;
    height: 2.5rem;
}
.menu_title{
    margin-bottom: 0px;
}
.navbar-expand-sm .navbar-collapse{
    justify-content: end;
}

.title-nav{
    color: var(--back-blue);
}
.navbar-light .navbar-nav .nav-link{
    color: var(--back-blue);
}
.dropdown-item{
    color:var(--back-blue);
    font-family: barlow, sans-serif;
    font-weight: 500;
    font-size: 18px; 
     

}
.navbar-superior{
    display: flex;    
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 2px;
    margin-bottom: 0;
    list-style: none;    
    /* font-size: 20px; */
}

.container-fluid{
    flex-direction: column;
}
a {
    text-decoration: none;
    
}
.boton-drop{
    margin-left: -10px;
}
/*Logo entel se achica hasta los 764px*/
@media (max-width: 764px) {
    .logo-entel {
        width: 38px ;
        height: auto;
    }
  }
  .navbar-toggler {
      display: flex;
      margin-left: auto;
     margin-right: 0px;
  }

/*End ccs styles by @kofrann*/